/*

Font sizing guidelines:
  px at the Root, rem for Components, em for Text Elements
  https://css-tricks.com/rems-ems/

*/


.site-nav > * {
  /* outline: 4px solid wheat */
  ;
}

* {
  box-sizing: border-box; /* Set box model for easier layout calculations */
}

html {
  font-size: 62.5%; /* Make font sizing with REMS easier */
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
}

strong {
  font-weight: bold;
}

.site-nav {
  font-size: 2rem;
}

.site-nav__logo-wrapper {
  display: block;
  margin: 1em auto 0 auto;
  text-align: center;
  width: 220px;
  height: 100px;
}

.site-nav__title {
  color: #0068ad;
  text-transform: uppercase;
  font-size: .8em;
  display: block;
  margin: 0 auto;
  text-align: center;
  font-weight: 300;
  letter-spacing: .1em;
  padding: 1em;
}

.site-nav__actions-wrapper {
  font-family: 'BioRhyme', serif;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  font-size: .7em;
}

.site-nav__action {
  color: #0068ad;
  border: 1px solid #0068ad;
  padding: 1em;
  display: block;
  margin: 1em;
  position: relative;
}

.site-nav__action:active {
  top: 2px;
}

.site-nav__action--orange {
  border-color: #ee8322;
  color: #ee8322;
}

.site-nav__action--green {
  border-color: #8ca800;
  color: #8ca800;
}

.site-nav__action--magenta {
  border-color: #ed1e79;
  color: #ed1e79;
}

.site-nav__toolbar {
  background: black;
  padding: 1em;
}

.site-nav__toolbar-item {
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  font-size: .75em;
  display: block;
  text-align: center;
  padding: 1em;
  border-bottom: 1px solid #0b3352;
  letter-spacing: .07em;
}

.site-nav__toolbar-item:active {
  color: #7fbbea;
}

.site-nav__toolbar-item:last-child {
  border-bottom: none;
}

.home-hero-banner {
  background: url('../images/corwin-truck-narrow.jpg') no-repeat center center;
  background-size: cover;
  height: 0;
  padding-bottom: 100%; /* 16:9 */
}


.company-intro {
  font-size: 1.8em;
  background: black;
  position: relative;
}

.blurb {
  margin: 0 auto;
  padding: 2em;
  background: black;
}

.blurb__logo {
  display: block;
  width: 135px;
}

.blurb__headline {
  display: block;
  margin: 2em 0;
  max-width: 350px;
}

.blurb__text {
  color: white;
  font-size: 1em;
  line-height: 1.8em;
  font-family: 'Raleway', sans-serif;

}

/* Services */

.services {
  font-size: 1.8rem;
  font-family: 'BioRhyme', serif;
  font-weight: 400;
  text-align: center;

}

.services__headline {
  font-weight: 400;
  text-transform: capitalize;
  font-size: 2em;
  color: #0068ad;
  position: relative;
}

.services__headline::after {
  content: "";
  position: absolute;
  top: .5em;
  left: 0;
  right: 0;
  height: 0;
  border-top: 1px solid #0068ad;
  z-index: -2;

}

.services__headline::before {
  content: "";
  width: 200px;
  height: 40px;
  background: white;
  position: absolute;
  left: calc(50% - 100px);
  z-index: -1;
}

.services__services-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 1.4em;
}

.services__services-list li {
  margin: 1em;
  background: url('../images/services-thumbnails-placeholder.gif') center top no-repeat;
  padding-top: 220px;
  /* outline: 1px solid pink; */

}

.services__button {
  display: block;
  text-transform: uppercase;
  font-size: .7em;
  color: #0068ad;
  margin: 1em;
  padding: 1em;
  border: 1px solid #0068ad;
  position: relative;
}

.services__button:active {
  top: 2px;
}

li.services--beverages {
  background-image: url('../images/services-beverages.jpg');
}

li.services--coffee {
  background-image: url('../images/services-coffee.jpg');
}

li.services--vending {
  background-image: url('../images/services-vending.jpg');
}

li.services--equipment {
  background-image: url('../images/services-equipment.jpg');
}

li.services--water {
  background-image: url('../images/services-water.jpg');
}

/* Media Queries */

@media screen and (min-width: 600px) {

  .services__services-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

}


@media screen and (min-width: 700px) {

  * {
    /* outline: 1px solid green; */
  }

  .site-nav {
    display: flex;
    flex-flow: row wrap;
    position: relative; /* Set position to relative so we can use absolute positioning with the psueudo element below */
    align-items: center;
}

  .site-nav::before { /* Create the black bar along the top */
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 70px;
    background: black;
    z-index: -9999;
    color: white;
  }

.site-nav__title {
    order: -1;
    width: 30%;
    color: #ccc;
    text-align: left;
    background: black;
}

.site-nav__toolbar {
    order: -1;
    width: 70%;
    text-align: right;
    height: 68px;
}

.site-nav__toolbar-item {
    display: inline;
    border-bottom: none;
}


.site-nav__logo {
  width: 180px;
}

.site-nav__actions-wrapper {
  width: 65%;
  display: flex;
  height: 12.5em;
  flex-flow: column wrap;
  justify-content: space-around;
}

.site-nav__action {
}

.home-hero-banner {
  background-image: url('../images/corwin-truck-wide.jpg');
  padding-bottom: 40.4%; /* 16:9 */
}

.company-intro {
  background: url('../images/corwin-building.jpg') center center / cover;

}


.blurb {
  width: 510px;
  margin-left: 0;
}



  .services__headline {
    margin-left: -13.7em;


  }


.services__headline::before {
}





}


@media screen and (min-width: 850px) {

  .site-nav__title {
    padding-left: 2em;
  }

  .site-nav__logo-wrapper {
    width: 25%;
  }


}


@media screen and (min-width: 900px) {

  .site-nav__actions-wrapper {
    flex-flow: row nowrap;
    width: 75%;
    align-items: stretch;
    justify-content: flex-end;
    padding-right: 1.75em;
    height: auto;
  }

}

@media screen and (min-width: 1020px) {

  .company-intro {
    margin-bottom: 130px; /* Making room for the triangular badge shape around the blurb */
  }


  .blurb {
    margin-left: 50%;
    position: relative;
    left: -510px;
    padding-bottom: 0;
  }

  .blurb::after {
    content: "";
    position: absolute;
    left: 0;
    top: calc(100% + 40px);
    width: 510px;
    box-sizing: border-box;
    border-top: 50px solid black;
    border-right: 255px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 255px solid transparent;
  }

  .blurb::before {
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    width: 510px;
    height: 40px;
    box-sizing: border-box;
    background: black;
  }
}


@media screen and (min-width: 1250px) {

  .site-nav__action {
    font-size: 1.2em;
    padding: 1.1em;
  }


}
